<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DispatchController</servlet-name>
        <servlet-class>tienph.controller.DispatchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>tienph.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>tienph.controller.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessRequestServlet</servlet-name>
        <servlet-class>tienph.controller.ProcessRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>tienph.controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>tienph.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClothingDetailServlet</servlet-name>
        <servlet-class>tienph.controller.ClothingDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>tienph.controller.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartRemoveItemServlet</servlet-name>
        <servlet-class>tienph.controller.CartRemoveItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartUpdateItemServlet</servlet-name>
        <servlet-class>tienph.controller.CartUpdateItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>tienph.controller.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderHistoryServlet</servlet-name>
        <servlet-class>tienph.controller.OrderHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusOrderServlet</servlet-name>
        <servlet-class>tienph.controller.ChangeStatusOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderAgainServlet</servlet-name>
        <servlet-class>tienph.controller.OrderAgainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailOrderServlet</servlet-name>
        <servlet-class>tienph.controller.DetailOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatchController</servlet-name>
        <url-pattern>/DispatchController</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>DispatchController</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessRequestServlet</servlet-name>
        <url-pattern>/ProcessRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClothingDetailServlet</servlet-name>
        <url-pattern>/ClothingDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartRemoveItemServlet</servlet-name>
        <url-pattern>/CartRemoveItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartUpdateItemServlet</servlet-name>
        <url-pattern>/CartUpdateItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderHistoryServlet</servlet-name>
        <url-pattern>/OrderHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusOrderServlet</servlet-name>
        <url-pattern>/ChangeStatusOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderAgainServlet</servlet-name>
        <url-pattern>/OrderAgainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailOrderServlet</servlet-name>
        <url-pattern>/DetailOrderServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
